In [82]:
import pandas as pd
import calendar
df = pd.read_excel('sales_data.xlsx')
df

,Product Code,Product Name,Product Category,Product Sub Category,Sku,Quantity per Sku,Unit Measure,Supplier,Client,Client Code,...,Sales Unit,Quantity,Price,value,Volume in Tonnes,Client Ref,Client Category,Client Industry,Client Size,Date Sold
0,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,Ebenezer Shop Makutano,NaN,...,Vsr-Mt Kenya,12.0,230,2760,0.006,NaN,Shop,Retail,Sme,2023-04-29 14:29:46
1,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,sinende,NaN,...,Vsr-South Rift,12.0,230,2760,0.006,NaN,Minimart,Retail,SME,2023-04-28 11:10:52
2,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,wapati,NaN,...,Vsr-South Rift,12.0,230,2760,0.006,self,Shop,Retail,SME,2023-04-28 10:28:12
3,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,fauna mini,NaN,...,Vsr-South Rift,12.0,230,2760,0.006,self,Minimart,Retail,SME,2023-04-27 12:23:26
4,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,mega supamarket downtown,NaN,...,Vsr-Mt Kenya,24.0,230,5520,0.012,NaN,Shop,Retail,SME,2023-04-27 09:25:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17236,GA010,Super Saba+ Green 1kg,Bar Soap,Antibacterial Bar Soap,1kg,1,Kg,NaN,ridges bidii shop,NaN,...,Vsr-Mt Kenya,10.0,220,2200,0.010,NaN,Shop,Retail,SME,2023-05-02 15:16:08
17237,GA011,Super Saba+ Cream 1kg,Bar Soap,Antibacterial Bar Soap,1kg,1,Kg,NaN,The truth mini- maili 4,NaN,...,Vsr-Western,20.0,220,4400,0.020,Bhumi,Minimart,Retail,SME,2023-05-25 16:29:45
17238,GA011,Super Saba+ Cream 1kg,Bar Soap,Antibacterial Bar Soap,1kg,1,Kg,NaN,Zion Mart,NaN,...,Vsr-Eastern,1.0,1700,1700,0.001,NaN,Shop,Retail,Sme,2023-05-19 20:55:07
17239,GA011,Super Saba+ Cream 1kg,Bar Soap,Antibacterial Bar Soap,1kg,1,Kg,NaN,Catherene mueni,NaN,...,Vsr-Eastern,10.0,1700,17000,0.010,NaN,Shop,Retail,SME,2023-05-16 21:52:53
17240,GA011,Super Saba+ Cream 1kg,Bar Soap,Antibacterial Bar Soap,1kg,1,Kg,NaN,New point shop-mti moja,NaN,...,Vsr-Western,10.0,220,2200,0.010,Bhumi,Shop,Retail,SME,2023-05-16 16:21:22

In [83]:
df.columns

Index(['Product Code', 'Product Name', 'Product Category',
       'Product Sub Category', 'Sku', 'Quantity per Sku', 'Unit Measure',
       'Supplier', 'Client', 'Client Code', 'City', 'Sales Rep',
       'Sales Rep Phone Number', 'Sales Unit', 'Quantity', 'Price', 'value',
       'Volume in Tonnes', 'Client Ref', 'Client Category', 'Client Industry',
       'Client Size', 'Date Sold'],
      dtype='object')

In [72]:
df["Product Sub Category"]

0                        Cp Oil
1                        Cp Oil
2                        Cp Oil
3                        Cp Oil
4                        Cp Oil
                  ...
17236    Antibacterial Bar Soap
17237    Antibacterial Bar Soap
17238    Antibacterial Bar Soap
17239    Antibacterial Bar Soap
17240    Antibacterial Bar Soap
Name: Product Sub Category, Length: 17241, dtype: object

In [ ]:
df["Product Sub Category"].unique()

In [ ]:
 date_col = pd.DatetimeIndex(df['Date Sold'])
    #date_col
    #df['year']=date_col.year
df['month']=date_col.month
    #df['Day']=date_col.day
df['month'] = df['month'].apply(lambda x: calendar.month_abbr[x])
df.head()

In [85]:
df.columns = df.columns.str.replace(" ","_")

In [ ]:
df

In [ ]:
df['total_cost'] = df['Quantity']*df['Price']

In [ ]:
df.groupby(['Sales_Rep'])

In [ ]:
df['Sales_Rep'].value_counts()

In [76]:
df.columns lesRep')['clientName'].nunique()

Index(['Product_Code', 'Product_Name', 'Product_Category',
       'Product_Sub_Category', 'Sku', 'Quantity_per_Sku', 'Unit_Measure',
       'Supplier', 'Client', 'Client_Code', 'City', 'Sales_Rep',
       'Sales_Rep_Phone_Number', 'Sales_Unit', 'Quantity', 'Price', 'Value',
       'Volume_in_Tonnes', 'Client_Ref', 'Client_Category', 'Client_Industry',
       'Client_Size', 'Date_Sold'],
      dtype='object')

In [95]:
sales_by_product= (df.groupby(by=["Product_Name"]).sum()[["Volume_in_Tonnes"]].sort_values(by="Volume_in_Tonnes"))

In [94]:
sales_by_salesrep=pd.DataFrame(df.groupby("Sales_Rep")["value"].sum())

In [80]:
df["Value"]= df["Value"].astype('int')

In [108]:
df['Sales_Rep'].unique()

array(['Risper Gichuru', 'James Kingori', 'Samwel Mbugua',
       "Josiah Ing'ui", 'Catherine Kariuki', 'Reginah Mutuku',
       'John Ndeto', 'Festus Muthini Muthoka', 'Abernego Muuo',
       'Thadius Nyakundi Mageto', 'Elijah Owuor', 'George Mwangi Kamau',
       'Daniel Mulwa', 'Ben Thuo', 'Japheth Musau', 'Stephen Ndiritu',
       'Joseph Murimi', 'Jacob Muruga', 'Victor  Muriuri',
       'Dominic Maina', 'Dickson Osano', 'Brenda Tengeneza',
       'Austine Wanyama'], dtype=object)

In [106]:
import numpy as np
df['Client_Category']= df['Client_Category'].replace(np.nan, 'Uncategorised')

In [100]:
df['value'] = pd.to_numeric(df['value'],errors='coerce')

In [101]:
sales_by_clientcategory= (df.groupby(by=["Client_Category"]).sum()[["value"]].sort_values(by="value"))

TypeError: unsupported operand type(s) for +: 'int' and 'str'