In [19]:
import pandas as pd
import calendar
import plotly.express as plt
df = pd.read_excel('sales_data.xlsx')
df

,Product Code,Product Name,Product Category,Product Sub Category,Sku,Quantity per Sku,Unit Measure,Supplier,Client,Client Code,...,Sales Unit,Quantity,Price,value,Volume in Tonnes,Client Ref,Client Category,Client Industry,Client Size,Date Sold
0,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,Ebenezer Shop Makutano,NaN,...,Vsr-Mt Kenya,12.0,230,2760,0.006,NaN,Shop,Retail,Sme,2023-04-29 14:29:46
1,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,sinende,NaN,...,Vsr-South Rift,12.0,230,2760,0.006,NaN,Minimart,Retail,SME,2023-04-28 11:10:52
2,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,wapati,NaN,...,Vsr-South Rift,12.0,230,2760,0.006,self,Shop,Retail,SME,2023-04-28 10:28:12
3,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,fauna mini,NaN,...,Vsr-South Rift,12.0,230,2760,0.006,self,Minimart,Retail,SME,2023-04-27 12:23:26
4,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,mega supamarket downtown,NaN,...,Vsr-Mt Kenya,24.0,230,5520,0.012,NaN,Shop,Retail,SME,2023-04-27 09:25:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17236,GA010,Super Saba+ Green 1kg,Bar Soap,Antibacterial Bar Soap,1kg,1,Kg,NaN,ridges bidii shop,NaN,...,Vsr-Mt Kenya,10.0,220,2200,0.010,NaN,Shop,Retail,SME,2023-05-02 15:16:08
17237,GA011,Super Saba+ Cream 1kg,Bar Soap,Antibacterial Bar Soap,1kg,1,Kg,NaN,The truth mini- maili 4,NaN,...,Vsr-Western,20.0,220,4400,0.020,Bhumi,Minimart,Retail,SME,2023-05-25 16:29:45
17238,GA011,Super Saba+ Cream 1kg,Bar Soap,Antibacterial Bar Soap,1kg,1,Kg,NaN,Zion Mart,NaN,...,Vsr-Eastern,1.0,1700,1700,0.001,NaN,Shop,Retail,Sme,2023-05-19 20:55:07
17239,GA011,Super Saba+ Cream 1kg,Bar Soap,Antibacterial Bar Soap,1kg,1,Kg,NaN,Catherene mueni,NaN,...,Vsr-Eastern,10.0,1700,17000,0.010,NaN,Shop,Retail,SME,2023-05-16 21:52:53
17240,GA011,Super Saba+ Cream 1kg,Bar Soap,Antibacterial Bar Soap,1kg,1,Kg,NaN,New point shop-mti moja,NaN,...,Vsr-Western,10.0,220,2200,0.010,Bhumi,Shop,Retail,SME,2023-05-16 16:21:22

In [2]:
df.columns

Index(['Product Code', 'Product Name', 'Product Category',
       'Product Sub Category', 'Sku', 'Quantity per Sku', 'Unit Measure',
       'Supplier', 'Client', 'Client Code', 'City', 'Sales Rep',
       'Sales Rep Phone Number', 'Sales Unit', 'Quantity', 'Price', 'value',
       'Volume in Tonnes', 'Client Ref', 'Client Category', 'Client Industry',
       'Client Size', 'Date Sold'],
      dtype='object')

In [3]:
df["Product Sub Category"]

0                        Cp Oil
1                        Cp Oil
2                        Cp Oil
3                        Cp Oil
4                        Cp Oil
                  ...
17236    Antibacterial Bar Soap
17237    Antibacterial Bar Soap
17238    Antibacterial Bar Soap
17239    Antibacterial Bar Soap
17240    Antibacterial Bar Soap
Name: Product Sub Category, Length: 17241, dtype: object

In [4]:
df["Product Sub Category"].unique()

array(['Cp Oil', 'White CP Fat', 'Yellow CP Fat', 'Bar Soap',
       'Washing Powder', 'Bulk Oil', 'Yellow bulk Fat', 'White bulk Fat',
       'Antibacterial Bar Soap'], dtype=object)

In [23]:
 date_col = pd.DatetimeIndex(df['Date Sold'])
    #date_col
    #df['year']=date_col.year
df['month']=date_col.month
    #df['Day']=date_col.day
df['month'] = df['month'].apply(lambda x: calendar.month_abbr[x])
df.head()

,Product Code,Product Name,Product Category,Product Sub Category,Sku,Quantity per Sku,Unit Measure,Supplier,Client,Client Code,...,Quantity,Price,value,Volume in Tonnes,Client Ref,Client Category,Client Industry,Client Size,Date Sold,month
0,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,Ebenezer Shop Makutano,NaN,...,12.0,230,2760,0.006,NaN,Shop,Retail,Sme,2023-04-29 14:29:46,Apr
1,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,sinende,NaN,...,12.0,230,2760,0.006,NaN,Minimart,Retail,SME,2023-04-28 11:10:52,Apr
2,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,wapati,NaN,...,12.0,230,2760,0.006,self,Shop,Retail,SME,2023-04-28 10:28:12,Apr
3,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,fauna mini,NaN,...,12.0,230,2760,0.006,self,Minimart,Retail,SME,2023-04-27 12:23:26,Apr
4,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,mega supamarket downtown,NaN,...,24.0,230,5520,0.012,NaN,Shop,Retail,SME,2023-04-27 09:25:24,Apr

In [6]:
df.columns = df.columns.str.replace(" ","_")

In [7]:
df

,Product_Code,Product_Name,Product_Category,Product_Sub_Category,Sku,Quantity_per_Sku,Unit_Measure,Supplier,Client,Client_Code,...,Quantity,Price,value,Volume_in_Tonnes,Client_Ref,Client_Category,Client_Industry,Client_Size,Date_Sold,month
0,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,Ebenezer Shop Makutano,NaN,...,12.0,230,2760,0.006,NaN,Shop,Retail,Sme,2023-04-29 14:29:46,Apr
1,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,sinende,NaN,...,12.0,230,2760,0.006,NaN,Minimart,Retail,SME,2023-04-28 11:10:52,Apr
2,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,wapati,NaN,...,12.0,230,2760,0.006,self,Shop,Retail,SME,2023-04-28 10:28:12,Apr
3,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,fauna mini,NaN,...,12.0,230,2760,0.006,self,Minimart,Retail,SME,2023-04-27 12:23:26,Apr
4,1101,Avena Oil 500ml,Oil,Cp Oil,500ml,500,ml,NaN,mega supamarket downtown,NaN,...,24.0,230,5520,0.012,NaN,Shop,Retail,SME,2023-04-27 09:25:24,Apr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17236,GA010,Super Saba+ Green 1kg,Bar Soap,Antibacterial Bar Soap,1kg,1,Kg,NaN,ridges bidii shop,NaN,...,10.0,220,2200,0.010,NaN,Shop,Retail,SME,2023-05-02 15:16:08,May
17237,GA011,Super Saba+ Cream 1kg,Bar Soap,Antibacterial Bar Soap,1kg,1,Kg,NaN,The truth mini- maili 4,NaN,...,20.0,220,4400,0.020,Bhumi,Minimart,Retail,SME,2023-05-25 16:29:45,May
17238,GA011,Super Saba+ Cream 1kg,Bar Soap,Antibacterial Bar Soap,1kg,1,Kg,NaN,Zion Mart,NaN,...,1.0,1700,1700,0.001,NaN,Shop,Retail,Sme,2023-05-19 20:55:07,May
17239,GA011,Super Saba+ Cream 1kg,Bar Soap,Antibacterial Bar Soap,1kg,1,Kg,NaN,Catherene mueni,NaN,...,10.0,1700,17000,0.010,NaN,Shop,Retail,SME,2023-05-16 21:52:53,May
17240,GA011,Super Saba+ Cream 1kg,Bar Soap,Antibacterial Bar Soap,1kg,1,Kg,NaN,New point shop-mti moja,NaN,...,10.0,220,2200,0.010,Bhumi,Shop,Retail,SME,2023-05-16 16:21:22,May

In [8]:
df['total_cost'] = df['Quantity']*df['Price']

In [9]:
df.groupby(['Sales_Rep'])

In [1]:
reps=df['month'].value_counts()
reps

NameError: name 'df' is not defined

In [11]:
df.columns lesRep')['clientName'].nunique()

SyntaxError: unterminated string literal (detected at line 1) (1904342348.py, line 1)

In [ ]:
sales_by_product= (df.groupby(by=["Product_Name"]).sum()[["Volume_in_Tonnes"]].sort_values(by="Volume_in_Tonnes"))

In [29]:
sal=pd.DataFrame(df.groupby("month")["value"].sum())

KeyError: 'Apr'

In [ ]:
df["Value"]= df["Value"].astype('int')

In [ ]:
df['Sales_Rep'].unique()

In [ ]:
import numpy as np
df['Client_Category']= df['Client_Category'].replace(np.nan, 'Uncategorised')

In [ ]:
fig_product.update_layout(
    plot_bgcolor="rgba(0,0,0,0)",
    yaxis= (dict(showgrid=False))
)

In [ ]:
df['value'] = pd.to_numeric(df['value'],errors='coerce')

In [ ]:
sales_by_clientcategory= (df.groupby(by=["Client_Category"]).sum()[["value"]].sort_values(by="value"))

In [27]:
import streamlit as st
plt.line(sal)